/*Limpar as formatações*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}
/*
 * ***layout***
 */
#area-cabecalho{
    background: #f7b600;
    padding: 15px;
    text-align: center;

}

#area-logo{
    padding: 10px;
}

#area-menu, #area-menu{
    padding: 10px;
}

#area-principal{
    width: 920px;
    margin: 0px auto;
}

#area-postagens{
    background: orange;
    width: 660px;
    float: left;
}
#area-lateral{
    background: orange;
    width: 240px;
    float: right;
}

.post{
    padding: 20px;
    margin-bottom: 20px;
    background:white;
}

#area-rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}

/*
 * *** Formatações do menu***
 */
 a{
     text-decoration: none;
 }
a:link, a:visited{
    color:#fff;
    padding:8px 12px ;
}

a:hover{
    color: #f7b600;
    background: white;
}


/*
 * *** Formatações geral***
 */
 h1{
     color: #4e4e4e;
     font-size: 4.5em;
 }

 .branco{
     color: white;
 }
 